.todo__form {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.todo__input {
  box-shadow: 1px 2px 10px rgba(black, .2);
  border-radius: .5rem;
}

.todo__input, .todo__item {
  width: 100%;
  border: none;
  outline: none;
  line-height: 1.6;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  padding: 1.5rem 7rem;
  position: relative;
  &::placeholder {
    color: var(--very-dark-grayish-blue-2);
  }
}

.todo__input.checked, .todo__text.checked {
  text-decoration: line-through;
}

.todo__text {
  cursor: pointer;
}

.circle{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--very-dark-grayish-blue-1);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 2rem;
  cursor: pointer;
}

.circle.checked {
  background: var(--bg);
  border: 0;
}

.fa-check {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
}

.circle.checked .fa-check {
  opacity: 1;
}

body.light-theme .todo__input {
  background-color: white;
  color: var(--very-dark-grayish-blue-2);
}

body.light-theme .todo__item {
  background-color: white;
  color: var(--very-dark-grayish-blue-2);
}

body.light-theme .circle {
  border-color: var(--lt-light-grayish-blue);
}

.todo__item {
  position: relative;
}

.circle-add {
  cursor: initial;
}

.todo__remove {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  cursor: pointer;
}