.todoadd__input {
  outline: none;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  border: none;
  padding: 2rem 7rem;
  border-radius: 1rem;
  // background-color: var(--very-dark-grayish-blue-1);
}

.todoadd {
  margin-top: 5rem;
}
