.todoadd__input {
  outline: none;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  border: none;
  padding: 1.5rem 7rem;
  line-height: 1.6;
  border-radius: .5rem;
  // background-color: var(--very-dark-grayish-blue-1);

  &::placeholder {
    color: var(--very-dark-grayish-blue-1);;
  }
}

.todoadd {
  margin-top: 5rem;
  position: relative;
}

.circle {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  transform: translateY(-50%);
  border: 2px solid var(--very-dark-grayish-blue-1);
  border-radius: 50%;
  z-index: 5;
}

.circle.clicked {
  background: var(--bg);
  border: none;
}

.fa-check {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -60%);
  color: white;
  font-size: 1rem;
  opacity: 0;
}

.circle.clicked .fa-check {
  opacity: 1;
}

.clicked + .todoadd__input {
  text-decoration: line-through;
  color:  var(--very-dark-grayish-blue-1);
}

.circle:hover {
  // border-color: var(--bg);
}