@import "./design-tokens/css-variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
}

// .bg-img {
//   position: absolute;
//   left: 0%;
//   right: 0%;
//   top: 0;
//   height: 30%;
//   z-index: -10;
//   background-position: center; 
//   background: url('./images/bg-desktop-dark.jpg');
// }

.bgImg {
  position: absolute;
  background-size: contain;
  z-index: -10;
}


img {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 7rem;
}

body.light-theme {
  background-color: #fff;
}
