@import './design-tokens/css-variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
  color: var(--dark-grayish-blue);
}

body input {
  color: var(--dark-grayish-blue);
}

body.light-theme {
  color: var(--lt-very-dark-grayish-blue);
}
body.light-theme input {
  color: var(--lt-very-dark-grayish-blue);

  &::placeholder {
    color: var(--lt-light-grayish-blue);
  }
}

.bgImg {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  display: block;
  height: 30rem;
  background-size: contain;
  background: url('/images/bg-desktop-dark.jpg');
  background-color: #fff;
}

.bg-image {
  position: absolute;
  z-index: -10;
  height: 30rem;
  width: 100%;
  background-color: #fff;
  background: url('./images/bg-desktop-dark.jpg');
}

body.light-theme .bg-image {
  background: url('./images/bg-desktop-light.jpg');
}

@media screen and (max-width: 500px) {
  .bg-image {
    width: 100%;
    background: url('./images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  body.light-theme .bg-image {
    width: 100%;
    background: url('./images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 7rem;
}

body.light-theme {
  background-color: var(--lt-very-light-gray);
}
